html {
  font-size: 62, 5;
}
body {
  font-size: 16px;
}
.boton {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  /* margin-top: 2rem;
  font-size: 2rem; */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  border: none;
}
.boton:hover {
  cursor: pointer;
}
.navegacion-principal {
  display: flex;
  flex-direction: column;

  align-items: center;
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.nav-br {
  background-color: black;
}
.navegacion-principal a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.navegacion-principal a:hover {
  background-color: white;
  color: black;
}

.contenedor {
  padding: 0 15rem;
}
.contenedor fieldset {
  border: none;
}
.contenedor legend {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contenedor .campo {
  margin-bottom: 1rem;
}
.campo label {
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: block;
}

.input-text {
  margin-top: 0.5rem;
  width: 100%;
  /* border: none; */
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.contenedor-radio .radio-carreras {
  display: block;
  margin-bottom: 0.5rem;
}
.contenedor-radio .tit {
  margin-bottom: 1rem;
}
